@model IEnumerable<Pta_Lab04.Models.PtaSong>
    @{ 
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@Html.ActionLink("Create New", "PtaCreate")</p>
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name) </th>
        <th>@Html.DisplayNameFor(model => model.Id) </th>
        <th>@Html.DisplayNameFor(model => model.Artist) </th>
        <th>@Html.DisplayNameFor(model => model.Author) </th>
    </tr>
@foreach(var song in Model)
{
<tr>
    <td>@Html.DisplayFor(item => song.Name) </td>
    <td>@Html.DisplayFor(item => song.Id) </td>
    <td>@Html.DisplayFor(item => song.Artist) </td>
    <td>@Html.DisplayFor(item => song.Author) </td>
    <td>@Html.ActionLink("Edit", "PtaEdit", new { id = song.Id })</td>
    <td>@Html.ActionLink("Detail", "PtaDetail", new { id = song.Id })</td>
    <td>@Html.ActionLink("Delete", "PtaDelete", new { id = song.Id }, new {@onclick="return confirm('Bạn có muốn xoá không')"})</td>


</tr>
}
</table>

