@model IEnumerable<PtaLesson07DF.Models.PtaSinhVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "PtaCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PtaTenSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtaPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtaEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtaPhai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtaMaKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PtaTenSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PtaPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PtaEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PtaPhai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PtaMaKH)
        </td>
        <td>
            @Html.ActionLink("Edit", "PtaEdit", new { id=item.PtaMaSV }) |
            @Html.ActionLink("Details", "PtaDetails", new { id=item.PtaMaSV }) |
            @Html.ActionLink("Delete", "PtaDelete", new { id=item.PtaMaSV })
        </td>
    </tr>
}

</table>
