@model IEnumerable<PtaLesson06CF.Models.PtaCategories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PtaCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PtaCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PtaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PtaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PtaId })
        </td>
    </tr>
}

</table>
