@model PtaK22CNT4LS10.Models.PtaAccount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PtaLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PtaAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PtaUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtaUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtaPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtaPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtaFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtaFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtaEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtaEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtaPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtaPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtaActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtaActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
