@model IEnumerable<PtaOnTap.Models.PtaTacGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PtaLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "PtaCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pta_TenTG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pta_TenTG)
        </td>
        <td>
            @Html.ActionLink("Edit", "PtaEdit", new { id=item.Pta_MaTG }) |
            @Html.ActionLink("Details", "PtaDetails", new { id=item.Pta_MaTG }) |
            @Html.ActionLink("Delete", "PtaDelete", new { id=item.Pta_MaTG })
        </td>
    </tr>
}

</table>
